{% extends 'list/base.html' %}

{% block content %}
<br>
<br>
<ul>
    {% for item in companyz %}
        <li><strong>{{ item.name }}</strong></li>
        <li>PK: {{ item.pk }}</li>
        <li>Ticker: {{ item.ticker }}</li>
        <li>CIK: {{ item.cik }}</li>
        <li>USER: {{ item.user }}</li>
        {% for object in statementz %}
        <li><a href="{{ object.url }}"> Direct link to Sec Edgar: {{ object.type }}</a></li>
        <a href="#"></a><button type="submit" class="btn btn-danger">details</button></a>
        {% endfor %}
        <br>
        <br>
    {% endfor %}
</ul>
{% endblock %}